<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.aiteyou.mapper.TeamMapper" >
  <resultMap id="BaseResultMap" type="Team" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="log" property="log" jdbcType="VARCHAR" />
    <result column="belongs" property="belongs" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="pictures_string" property="picturesString" jdbcType="VARCHAR" />
    <result column="honor_string" property="honorString" jdbcType="VARCHAR" />
    <result column="captain_id" property="captainId" jdbcType="INTEGER"/>
  </resultMap>
  <resultMap id="team_join_member"  type="Team">
     <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="log" property="log" jdbcType="VARCHAR" />
	    <result column="belongs" property="belongs" jdbcType="VARCHAR" />
	    <result column="info" property="info" jdbcType="VARCHAR" />
	    <result column="pictures_string" property="picturesString" jdbcType="VARCHAR" />
	    <result column="honor_string" property="honorString" jdbcType="VARCHAR" />
	    <result column="captain_id" property="captainId" jdbcType="INTEGER"/>
	        <association property="captain" javaType="Member" column="captain_id" select="top.aiteyou.mapper.MemberMapper.selectByPrimaryKey"></association>
	        <collection property="members" ofType="Member" column="id" select="top.aiteyou.mapper.MemberMapper.selectByTeamId">
	        </collection>
  </resultMap>
  <resultMap id="team_join_games_members"  type="Team">
     <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="log" property="log" jdbcType="VARCHAR" />
	    <result column="belongs" property="belongs" jdbcType="VARCHAR" />
	    <result column="info" property="info" jdbcType="VARCHAR" />
	    <result column="pictures_string" property="picturesString" jdbcType="VARCHAR" />
	    <result column="honor_string" property="honorString" jdbcType="VARCHAR" />
	    <result column="captain_id" property="captainId" jdbcType="INTEGER"/>
	        <association property="captain" javaType="Member" column="captain_id" select="top.aiteyou.mapper.MemberMapper.selectByPrimaryKey"></association>
	        
	        <collection property="games" column="id" select="top.aiteyou.mapper.GameMapper.selectRecentlyGameBriefsByTeamId"></collection>
	        <collection property="members" ofType="Member" column="id" select="top.aiteyou.mapper.MemberMapper.selectByTeamId">
	        </collection>
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, name, log, belongs, info, pictures_string, honor_string,captain_id
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from team
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectOneJoinGamesMembers" resultMap="team_join_games_members" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from team
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
  
  <select id="selectJoinMembers" resultMap="team_join_member" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from team
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from team
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="top.aiteyou.entity.Team" >
    insert into team (id, name, 
      log, belongs, info, 
      pictures_string, honor_string)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{gameId,jdbcType=INTEGER}, 
      #{log,jdbcType=VARCHAR}, #{belongs,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, 
      #{picturesString,jdbcType=VARCHAR}, #{honorString,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.aiteyou.entity.Team" useGeneratedKeys="true"
     keyProperty="id" keyColumn="id" >
    insert into team
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="gameId != null" >
        game_id,
      </if>
      <if test="log != null" >
        log,
      </if>
      <if test="belongs != null" >
        belongs,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="picturesString != null" >
        pictures_string,
      </if>
      <if test="honorString != null" >
        honor_string,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gameId != null" >
        #{gameId,jdbcType=INTEGER},
      </if>
      <if test="log != null" >
        #{log,jdbcType=VARCHAR},
      </if>
      <if test="belongs != null" >
        #{belongs,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="picturesString != null" >
        #{picturesString,jdbcType=VARCHAR},
      </if>
      <if test="honorString != null" >
        #{honorString,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="top.aiteyou.entity.Team" >
    update team
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gameId != null" >
        game_id = #{gameId,jdbcType=INTEGER},
      </if>
      <if test="log != null" >
        log = #{log,jdbcType=VARCHAR},
      </if>
      <if test="belongs != null" >
        belongs = #{belongs,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="picturesString != null" >
        pictures_string = #{picturesString,jdbcType=VARCHAR},
      </if>
      <if test="honorString != null" >
        honor_string = #{honorString,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.aiteyou.entity.Team" >
    update team
    set name = #{name,jdbcType=VARCHAR},
      game_id = #{gameId,jdbcType=INTEGER},
      log = #{log,jdbcType=VARCHAR},
      belongs = #{belongs,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      pictures_string = #{picturesString,jdbcType=VARCHAR},
      honor_string = #{honorString,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>